* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #ff6900;
    color: white;
    padding: 20px 0;
    margin: auto;
}

.navig {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.sezione:hover {
    text-decoration: underline;
}

.logo {
    height: 20px;
    width: auto;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    max-width: 1000px;
    margin: auto;
}

.photo {
    height: 400px;
    width: auto;
}