* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    background-color: #ff6900;
}

footer {
    width: 100%;
    background-color: black;
}

.headercontainer {
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px 0;
}

.navig {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sezione:hover {
    text-decoration: underline;
}

.logo {
    height: 20px;
    width: auto;
}

.products {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
    max-width: 960px;
    margin: auto;
}

.cards {
    position: relative;
}

.photo {
    height: 450px;
    width: auto;
    position: relative;
}

.photo-hover {
    display: none;
}

.cards:hover .photo-hover {
    display: block;
}

.cards:hover .photo-default {
    display: none;
}

.heart {
    position: absolute;
    right: 0;
    top: 5px;
    background-color: white;
    padding: 8px;
}

.appendici {
    display: flex;
    justify-content: flex-start;
    gap: 2px;
    position: absolute;
    left: 0;
    bottom: 90px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.sconto {
    background-color: #ff0000;
    padding: 2px 5px;
    text-align: center;
}

.eco {
    background-color: #008000;
    padding: 2px 5px;
}

.description {
    font-weight: bold;
}

.marca {
    font-size: 12px;
    color: #8da8b9;
}

.capo {
    font-size: 14px;
}

.actual {
    font-size: 12px;
    color: red;
}

.old {
    font-size: 12px;
    color: #8da8b9;
    text-decoration: line-through;
}

.footcontainer {
    color: white;
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.societa {
    display: flex;
    flex-wrap: wrap;
}

.footname {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 12px;
}

.laws {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 0;
    font-size: 10px;
}

.legge:hover {
    text-decoration: underline;
}

.social {
    padding: 5px 0;
}